<div class="modal fade" id="modalNuevoCliente" tabindex="-1" role="dialog" aria-labelledby="modalNuevoClienteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevoClienteLabel">
                    {{ !this.dataApi.selectedCliente.id ? 'Nuevo Cliente' : 'Modificar Cliente'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <form name="formCliente" #formCliente="ngForm" (ngSubmit)="onSaveCliente(formCliente)">
                    <!-- type="hidden" -->
                    <input name="id" [(ngModel)]="this.dataApi.selectedCliente.id">
                    <div class="row">
                        <div class="col">
                            <label class="col-md-10 control-label" for="name">Nombre</label>
                            <input id="name" name="name" type="text" [(ngModel)]="this.dataApi.selectedCliente.nombre" placeholder="" class="form-control input-md">
                        </div>
                        <div class="col">
                            <label class="col-md-10 control-label" for="surname">Apellido</label>
                            <input id="surname" name="surname" type="text" [(ngModel)]="this.dataApi.selectedCliente.apellido" placeholder="" class="form-control input-md">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-md-10 control-label" for="email">E-mail</label>
                            <input id="email" name="email" [(ngModel)]="this.dataApi.selectedCliente.email" type="text" placeholder="" class="form-control input-md">
                        </div>
                        <div class="col">
                            <label class="col-md-10 control-label" for="telefono">Numero de Telefono</label>
                            <input id="telefono" name="telefono" type="text" [(ngModel)]="this.dataApi.selectedCliente.telefono" placeholder="" class="form-control input-md">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="form-group" id="esPaciente">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tipoPaciente" id="tipoPaciente1" value="Particular" [(ngModel)]="this.dataApi.selectedCliente.tipoPaciente">
                                    <label class="form-check-label" for="tipoPaciente1">Particular</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tipoPaciente" id="tipoPaciente2" value="ObraSocial" [(ngModel)]="this.dataApi.selectedCliente.tipoPaciente">
                                    <label class="form-check-label" for="tipoPaciente2">Por Obra Social</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="obraSocialGroupDiv">
                        <div class="col">
                            <label class="col-md-10 control-label" for="obrasocial">Obra social</label>
                            <input id="obrasocial" name="obrasocial" type="text" placeholder="" class="form-control input-md" [(ngModel)]="this.dataApi.selectedCliente.obraSocial">
                        </div>
                        <div class="col">
                            <label class="col-md-10 control-label" for="credencial">Nro. de credencial</label>
                            <input id="credencial" name="credencial" type="text" placeholder="" class="form-control input-md" [(ngModel)]="this.dataApi.selectedCliente.nroCarnet">
                        </div>
                    </div>
                    <br>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Salir</button>
                    <button type="submit" class="btn btn-primary">Guardar Cliente</button>
                </div>
            </div>
        </div>
    </div>
</div>
