<div class="modal fade" id="modalNuevoTurno" tabindex="-1" role="dialog" aria-labelledby="modalNuevoTurnoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevoTurnoLabel">
                    {{ !this.dataApi.selectedTurno.id ? 'Nuevo Turno' : 'Modificar Turno'}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form name="formTurno" #formTurno="ngForm" (ngSubmit)="onSaveTurno(formTurno)">
                    <input type="hidden" name="id" [(ngModel)]="this.dataApi.selectedTurno.id">
                    <input type="hidden" name="userUid" [value]="userId">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="especialidad">Especialidad:</label>
                            <select name="especialidad" class="form-control" placeholder="Seleccione..." [(ngModel)]="this.dataApi.selectedTurno.especialidad">
                              <option selected>Seleccionar...</option>
                              <option *ngFor="let especialidad of this.especialidades"> {{especialidad.descripcion}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="especialista">Especialista:</label>
                            <select name="especialista" class="form-control" placeholder="Seleccione..." [(ngModel)]="this.dataApi.selectedTurno.especialista">
                                <option selected>Seleccionar...</option>
                                <ng-container *ngFor="let us of this.usuarios; index as i">
                                  <option *ngIf="us.roles.especialista == true && us.especialidad == this.dataApi.selectedTurno.especialidad">
                                    {{us.apellido}} {{us.nombre}}
                                  </option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cliente">Cliente:</label>
                            <select name="cliente" class="form-control" placeholder="Seleccione..." [(ngModel)]="this.dataApi.selectedTurno.cliente">
                              <option selected>Seleccionar...</option>
                              <ng-container *ngFor="let us of this.usuarios; index as i">
                                <option *ngIf="us.roles.cliente == true && (us.id == this.userId || this.isAdmin)">
                                  {{us.nombre}} {{us.apellido}}
                                </option>
                              </ng-container>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fecha_hora">Fecha</label>
                            <div class='input-group date' id='datetimepicker'>
                                <input type='datetime-local' class="form-control" name="fecha_hora" placeholder="dd/mm/aaaa" [(ngModel)]="this.dataApi.selectedTurno.fecha_hora" />
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-primary">Guardar Turno</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>