button {
    background-color: initial;
    border-style: none;
    font: normal 20px Roboto, arial, sans-serif;
    font-family: 'Dancing Script', cursive!important;
}

a {
    font: normal 20px Roboto, arial, sans-serif;
    font-family: 'Dancing Script', cursive!important;
}