<br>
<!--
<div class="pd">
   <app-busqueda [listaClientes]="Clientes" (filtro)="mostrarDatos($event)"></app-busqueda>
</div> -->
<br>
<br>
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefono</th>
                <th scope="col">Tipo de Cobertura</th>
                <th scope="col">Obra social</th>
                <th scope="col">Nro. Credencial</th>
                <th scope="col"><button class="btn btn-block btn-success" data-toggle="modal" data-target="#modalNuevoCliente">Nuevo Cliente</button></th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of Clientes; index as i">
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.tipoPaciente}}</td>
                <td>{{cliente.obraSocial}}</td>
                <td>{{cliente.nroCarnet}}</td>
                <td *ngIf="isAdmin == true; else noOwner">
                    <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#modalNuevoCliente" (click)="modificarCliente(cliente)">Modificar</button>
                </td>
                <ng-template #noOwner>
                    <td>
                        <button class="btn btn-secondary" disabled="true">Modificar</button>
                    </td>
                </ng-template>
                <td *ngIf="isAdmin == true; else noAdmin">
                    <button class="btn btn-block btn-danger" (click)="cancelarCliente(cliente.id)">Cancelar</button>
                </td>
                <ng-template #noAdmin>
                    <td>
                        <button class="btn btn-danger" disabled="true">Cancelar</button>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>
<app-modalNuevoCliente></app-modalNuevoCliente>
