<br>
<!--
<div class="pd">
   <app-busqueda [listaTurnos]="Turnos" (filtro)="mostrarDatos($event)"></app-busqueda>
</div> -->
<br>
<br>
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Cod. Reserva</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Especialista</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col"><button class="btn btn-block btn-success" data-toggle="modal" data-target="#modalNuevoTurno">Nuevo Turno</button></th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
                <!-- <th scope="col">Foto</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turno of turnos; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{turno.especialidad}}</td>
                <td>{{turno.especialista}}</td>
                <td>{{turno.fecha_hora}}</td>
                <td>{{turno.estado}}</td>
                <!--  <td class="thmb">
                    <img [src]='"../../assets/img"+p.foto' class="img-fluid img-thumbnail">
                </td>-->
                <td *ngIf="turno.userId == userId || isAdmin == true; else noOwner">
                    <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#modalNuevoTurno" (click)="modificarTurno(turno)">Modificar</button>
                </td>
                <ng-template #noOwner>
                    <td>
                        <button class="btn btn-secondary" disabled="true">Modificar</button>
                    </td>
                </ng-template>
                <td *ngIf="isAdmin == true; else noAdmin">
                    <button class="btn btn-block btn-danger" (click)="cancelarTurno(turno.id)">Cancelar</button>
                </td>
                <ng-template #noAdmin>
                    <td>
                        <button class="btn btn-danger" disabled="true">Cancelar</button>
                    </td>
                </ng-template>
                <td *ngIf='turno.estado == "realizado" && turno.userId == userId ; else encuestaDisable'>
                    <button class="btn btn-block btn-warning" id="buttonEncuesta" name="buttonEncuesta" routerLink="/encuesta/{{turno.id}}">Encuesta de satisfacción</button>
                </td>
                <ng-template #encuestaDisable>
                    <td>
                        <button id="buttonEncuesta" name="buttonEncuesta" class="btn btn-block btn-secondary" disabled=true>Encuesta de satisfacción</button>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>
<app-modalNuevoTurno [userId]="userId"></app-modalNuevoTurno>